/* @import url(./sober-theme.css); */
@import url(./specialEffect/color_gradient.scss);
@import url(./specialEffect/bumping.scss);

@font-face {
  font-family: "Impact";
  src: url(../fonts/zzz-eng.TTF) format("truetype");
  font-weight: normal
}

@font-face {
  font-family: "hongmengti";
  src: url(../fonts/zzz-chs.ttf) format("truetype");
  font-weight: bold
}

.font-num {
  font-family: Impact, "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 100;
}

.font-hongmeng {
  font-family: "hongmengti", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif;
  font-weight: 1000;
  font-size: 0.93em;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

p {
  height: fit-content;
  width: fit-content;
  margin: 0;
  line-height: 1.4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--s-color-outline-variant, #c1c7ce);
  border-radius: 3px;
  transform: translateX(-10px);

}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/* :not(:defined) {
  display: none;
} */

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 100%;
  background-size: cover;
}

#app-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}


/* -================ 属性 ================== */


.OO-parallelogram {
  transform: skew(-20deg);
  border-radius: 10px;
}

.OO-parallelogram>* {
  /* display: block; */
  transform: skew(20deg);
}

.OO-colunm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.OO-colunm-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.fit-parent-width {
  height: 100%;
  width: 0;
  padding-left: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

/* -====================== 替换原生元素 ================== */
s-chip {
  transform: skew(-20deg);
  position: relative;
  height: fit-content;
  align-items: center;
  z-index: 1;
}

s-chip p {
  display: block;
  transform: skew(20deg);
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  line-height: 1;
  margin: 10px 0px;
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
}

s-chip[type=filled-tonal] {
  border: 1px solid var(--s-color-outline);
  color: var(--s-color-on-primary);
}

s-tooltip p {
  margin: 0;
  line-height: 1;
}

s-divider {
  width: 83%;
  margin: 10px 0;
}

s-card {
  height: 350px;
  margin: 6px 0;
  border-radius: 0px 30px 0px 30px;
}

s-tooltip>p {
  line-height: 1.2;
  word-wrap: break-word;
  max-width: 120px;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

p {
  height: fit-content;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--s-color-outline-variant, #c1c7ce);
  border-radius: 3px;
  transform: translateX(-10px);

}

/* -====================== 组件 ================== */
/* -=================左侧粘性按钮================ */

.left-adhesive-button {
  /* background-color: black; */
  height: 45px;
  border-radius: 0px 25px 25px 0px;
  position: relative;
  padding: 13px;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(0px);
  width: 100%;
  margin-right: 40px;
}

/* .left-adhesive-button p{
  transform: translateX(20px);
  transition: all 0.1s ease-in-out 0s;
} */

.left-adhesive-button::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -100px;
  right: 3px;
  border: 2px solid gray;
  border-radius: 0px 19px 19px 0px;
}

.left-adhesive-button[type='elevated'] {
  background-color: var(--s-color-background);
  box-shadow: 0px 0px 0px 2px var(--s-color-primary);
  transform: translateX(-20px);
}

/* .left-adhesive-button[type='elevated'] p{
  transform: translateX(0px);
  transition: all 0.1s ease-in-out 0s;
} */


/* -=================右侧粘性按钮================ */

.right-adhesive-button {
  /* background-color: black; */
  height: 45px;
  border-radius: 25px 0px 0px 25px;
  position: relative;
  padding: 13px;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(0px);
  width: 100%;
  margin-left: 20%;
}

.right-adhesive-button p {
  transform: translateX(-20px);
}

.right-adhesive-button::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: -100px;
  border: 2px solid gray;
  border-radius: 19px 0px 0px 19px;
}

.right-adhesive-button[type='elevated'] {
  background-color: var(--s-color-background);
  box-shadow: 0px 0px 0px 2.5px var(--s-color-primary);
  transform: translateX(20px);
}

.right-adhesive-button[type='elevated'] p {
  transform: translateX(0px);
}


/* -=================并列按钮条组件================ */

.button-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 0;
  width: 83%;
  position: relative;
}

.button-bar-item {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0px 20px 0px 20px;
  /* 外边框 */
  border: 1px solid var(--s-color-outline);
}

.button-bar .button-bar-item:first-child {
  /* 这是一个左边是方形，右边有圆角的平行四边形 */
  border-radius: 0px 10px 10px 0px;
  transform: skew(-20deg);
  /* 将最左边裁剪掉 */
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 26px 100%);
}


.button-bar .button-bar-item:not(:first-child):not(:last-child) {
  /* 这是一个圆角平行四边形 */
  transform: skew(-20deg);
  border-radius: 10px;
  margin: 0 2px;
  width: fit-content;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out 0s;
}

.button-bar .button-bar-item:last-child {
  /* 这是一个右边是方形，左边有圆角的平行四边形 */
  border-radius: 10px 0px 0px 10px;
  transform: skew(-20deg);
  /* 将最右边裁剪掉 */
  clip-path: polygon(0 0, calc(100% - 26px) 0, calc(100% - 13px) 100%, 0 100%)
}

/* 使用 after 来绘制左侧的圆 */
.button-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid var(--s-color-outline);
  /* 裁剪掉中间部分，只显示两端 */
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, calc(100% - 20px) 0, calc(100% - 20px) 100%, 20px 100%, 20px 0);
  /* background-color: var(--s-color-surface-container-high); */
}

.button-bar-item>* {
  transform: skew(20deg);
}

/* -=================默认箱体样式================ */
.OO-box {
  border-radius: 20px;
  border: 3px solid var(--s-color-outline-variant);
  background-color: var(--s-color-surface-container-high);

  padding: 10px;
}


/* -=================设置条组件================ */
.OO-setting-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px 0;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  background-color: var(--s-color-surface-container-low);
  color: var(--s-color-on-surface);
  border-radius: 28px;
  padding: 0 20px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  text-overflow: ellipsis;
}

.OO-setting-bar h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  padding: 5px 0;
}

.OO-setting-bar .OO-s-text-field-container {
  position: absolute;
  --text-field-border-radius: 24px;
  --text-field-padding: 24px;
  --border-radius: 24px;
  border-radius: 24px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --border-color: var(--s-color-outline-variant);
  right: 5px;
  height: calc(100% - 10px);
  min-height: 0px;
  min-width: 155px;
  width: calc(30% + 5px);
  max-width: 305px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.OO-setting-bar s-text-field {
  position: absolute;
  --text-field-border-radius: 24px;
  --text-field-padding: 24px;
  border-radius: 24px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --text-field-border-color: var(--s-color-outline-variant);
  right: 5px;
  height: calc(100% - 10px);
  min-height: 0px;
  min-width: 155px;
  width: calc(30% + 5px);
  max-width: 305px;

  display: flex;
  flex-direction: column;
}

.OO-setting-bar .OO-s-text-field-container>s-text-field {
  position: absolute;
  --text-field-border-radius: 29px;
  --text-field-padding: 15px;
  --border-radius: 29px;
  border-radius: 29px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --border-color: var(--s-color-outline-variant);
  height: calc(100%);
  right: 0;
  min-height: 0px;
  min-width: 155px;
  width: calc(100% - 40px);
  max-width: 305px;

  display: flex;
  flex-direction: column;
}

.OO-setting-bar input[type='radio'] {
  display: none;
}

.OO-setting-bar input[type='radio']:checked+label>s-chip {
  background-color: var(--s-color-primary);
  color: var(--s-color-on-primary);
}

.OO-setting-bar s-switch {
  position: absolute;
  right: 10px;
  width: 50px;
  height: calc(100% - 20px);
  min-height: 0px;
}

.OO-setting-bar s-button {
  position: absolute;
  right: 10px;
  min-width: 58px;
  height: calc(100% - 20px);
  min-height: 0px;
  font-size: 0.97em;
  font-weight: 500;
  min-width: 150px;
  width: 30%;
  max-width: 300px;
}

.OO-setting-bar s-picker {
  position: absolute;
  color: var(--s-color-on-surface);
  --border-radius: 24px;
  border-radius: 24px;
  background-color: var(--s-color-background);

  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  --border-color: var(--s-color-outline-variant);
  --border-width: 2px;
  right: 5px;
  --height: 41px;
  --padding: 72px;
  height: calc(100% - 10px);
  min-height: 0px;
  min-width: 155px;
  width: calc(30% + 5px);
  max-width: 305px;
}

.OO-setting-bar s-button:not([type='text']) {
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  border-color: var(--s-color-outline-variant);
  border-width: 2px;
  background-color: var(--s-color-surface-container-lowest);
  color: var(--s-color-on-surface);
}

.OO-setting-bar s-tooltip * {
  text-overflow: initial;
  overflow: visible;
}

.OO-shade-box {
  box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
  border-color: var(--s-color-outline-variant);
  border-width: 2px;
  background-color: var(--s-color-background);
  color: var(--s-color-on-surface);

  --border-color: var(--s-color-outline-variant);
  --border-width: 2px;
  --border-radius: 20px;
}


.OO-button-box {
  align-items: center;
  align-content: center;
  margin: 10px 0;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  background-color: var(--s-color-surface-container-low);
  color: var(--s-color-on-surface);
  border-radius: 28px;
  padding: 0 20px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.OO-button {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--s-color-on-primary);
  border: 5px solid var(--s-color-outline-variant);
  border-radius: 20px;
  /* box-shadow: 0 0 0px 3px var(--s-color-surface-container-high), inset 1px 1px 1px rgba(255, 255, 255, 0.2); */
  box-shadow: -0.5px -0.5px 1px 1px rgba(255, 255, 255, 0.3), 0 0 0px 2px var(--s-color-surface-container-high), inset 1px 1px 0px 1px var(--s-color-surface-container);
  box-sizing: border-box;
  overflow: hidden;
  height: 40px;
  color: var(--s-color-on-surface-variant);
  font-weight: 1000;

  p{
    z-index: 0;
  }
  
}

.OO-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;

  background-color: #00000000 !important;

  background-color: #001;
  background-image: radial-gradient(black 15%, transparent 16%),
    radial-gradient(black 15%, transparent 16%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.OO-center-bg {
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  /* background-attachment: fixed; */
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
}


.OO-icon-button {
  align-items: center;
  align-content: center;
  margin: 10px 0;
  position: relative;
  background-color: var(--s-color-surface-container-low);
  color: var(--s-color-on-surface);
  border-radius: 28px;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  transform: scale(0.83);
}

.OO-scorll-box>div {
  margin-right: -10px;
  padding-right: 10px;
}

/* .OO-background-dot {} */

.OO-background-dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;

  background-color: #00000000 !important;

  background-color: #001;
  background-image: radial-gradient(black 15%, transparent 16%),
    radial-gradient(black 15%, transparent 16%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.OO-background-stripes {
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(255, 255, 255, .5) 7px, rgba(255, 255, 255, .5) 14px);
}

/* 动画样式 */
@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1000px 0;
    /* 图片宽度 */
  }
}

.OO-slide-background {
  background-repeat: repeat-x;
  /* 默认是repeat，不需要特别设置 */
  background-position: 0 0;
  /* 初始位置 */
  transform: rotate(-15deg);
  /* 整体旋转15度 */
  overflow: hidden;
  /* 隐藏超出容器的部分 */
  position: relative;
  /* 为动画做准备 */

  animation: slideBackground 5s linear infinite;
  /* 动画持续时间为5秒，线性变化，无限循环 */
}

/* -颜色渐变类增加一个 willchange */
.OO-color-gradient {
  will-change: background-color;
}
.OO-color-gradient-word {
  will-change: color;
}